In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bullying_clean1.csv')

In [3]:
df.rename(columns = {'Bullied_on_school_property_in_past_12_months': 'bullied_in_school',
                    'Bullied_not_on_school_property_in_past_12_months': 'bullied_outside_school',
                    'Cyber_bullied_in_past_12_months': 'cyberbullied',
                    'Custom_Age': 'age'}, inplace=True)

df.drop(['record',
         'Missed_classes_or_school_without_permission',
        'Most_of_the_time_or_always_felt_lonely'], axis=1, inplace=True)

df.columns = [c.lower() for c in df.columns]

In [4]:
df['age'].unique()

array(['14 years old', '13 years old', '15 years old', '16 years old',
       '17 years old', '12 years old', '18 years old or older',
       '11 years old or younger'], dtype=object)

In [5]:
def clean_age(value):
    if value == '11 years old or younger':
        return 11
    elif value == '12 years old':
        return 12
    elif value == '13 years old':
        return 13
    elif value == '14 years old':
        return 14
    elif value == '15 years old':
        return 15
    elif value == '16 years old':
        return 16
    elif value == '17 years old':
        return 17
    elif value == '18 years old or older':
        return 18
    else:
        print('something went wrong')
        return

df['age'] = df['age'].apply(lambda x: clean_age(x))

In [6]:
def clean_binary(value):
    if value == 'Yes':
        return 1
    elif value == 'No':
        return 0
    else:
        print('something went wrong')
        return

#target variables
df['bullied_in_school'] = df['bullied_in_school'].apply(lambda x: clean_binary(x))
df['bullied_outside_school'] = df['bullied_outside_school'].apply(lambda x: clean_binary(x))
df['cyberbullied'] = df['cyberbullied'].apply(lambda x: clean_binary(x))

#other binary features
df['were_underweight'] = df['were_underweight'].apply(lambda x: clean_binary(x))
df['were_overweight'] = df['were_overweight'].apply(lambda x: clean_binary(x))
df['were_obese'] = df['were_obese'].apply(lambda x: clean_binary(x))

In [7]:
def clean_attacked(value):
    if value == '0 times':
        return 0
    elif value == '1 time':
        return 1
    elif value == '2 or 3 times':
        return 2
    elif value == '4 or 5 times':
        return 3
    elif value == '6 or 7 times':
        return 4
    elif value == '8 or 9 times':
        return 5
    elif value == '10 or 11 times':
        return 6
    elif value == '12 or more times':
        return 7
    else:
        print('something went wrong')
        return
    
df['physically_attacked'] = df['physically_attacked'].apply(lambda x: clean_attacked(x))

In [8]:
def clean_fighting(value):
    if value == '0 times':
        return 0
    elif value == '1 time':
        return 1
    elif value == '2 or 3 times':
        return 2
    elif value == '4 or 5 times':
        return 3
    elif value == '6 or 7 times':
        return 4
    elif value == '8 or 9 times':
        return 5
    elif value == '10 or 11 times':
        return 6
    elif value == '12 or more times':
        return 7
    else:
        print('something went wrong')
        return
    
df['physical_fighting'] = df['physical_fighting'].apply(lambda x: clean_fighting(x))

In [9]:
def clean_sex(value):
    if value == 'Male':
        return 0
    elif value == 'Female':
        return 1
    else:
        print('something went wrong')
        return

df['sex'] = df['sex'].apply(lambda x: clean_sex(x))

In [10]:
def clean_lonely(value):
    if value == 'Never':
        return 0
    elif value == 'Rarely':
        return 1
    elif value == 'Sometimes':
        return 2
    elif value == 'Most of the time':
        return 3
    elif value == 'Always':
        return 4
    else:
        print('something went wrong')
        return
    
df['felt_lonely'] = df['felt_lonely'].apply(lambda x: clean_lonely(x))

In [11]:
def clean_friends(value):
    if value == '0':
        return 0
    elif value == '1':
        return 1
    elif value == '2':
        return 2
    elif value == '3 or more':
        return 3
    else:
        print('something went wrong')
        return
    
df['close_friends'] = df['close_friends'].apply(lambda x: clean_friends(x))

In [12]:
def clean_attendance(value):
    if value == '0 days':
        return 0
    elif value == '1 or 2 days':
        return 1
    elif value == '3 to 5 days':
        return 2
    elif value == '6 to 9 days':
        return 3
    elif value == '10 or more days':
        return 4
    else:
        print('something went wrong')
        return
    
df['miss_school_no_permission'] = df['miss_school_no_permission'].apply(lambda x: clean_attendance(x))

In [13]:
def clean_compassion(value):
    if value == 'Never':
        return 0
    elif value == 'Rarely':
        return 1
    elif value == 'Sometimes':
        return 2
    elif value == 'Most of the time':
        return 3
    elif value == 'Always':
        return 4
    else:
        print('something went wrong')
        return
    
df['other_students_kind_and_helpful'] = df['other_students_kind_and_helpful'].apply(lambda x: clean_compassion(x))
df['parents_understand_problems'] = df['parents_understand_problems'].apply(lambda x: clean_compassion(x))

In [22]:
df.drop_duplicates(inplace=True, ignore_index=True)

In [24]:
df.to_csv('bullying_clean2.csv', index=False)

In [25]:
df

,bullied_in_school,bullied_outside_school,cyberbullied,age,sex,physically_attacked,physical_fighting,felt_lonely,close_friends,miss_school_no_permission,other_students_kind_and_helpful,parents_understand_problems,were_underweight,were_overweight,were_obese
0,0,0,0,14,0,0,0,0,3,0,2,4,0,0,0
1,0,0,0,13,0,0,1,0,3,0,3,4,0,0,0
2,0,0,0,15,0,0,1,0,3,2,3,4,0,0,0
3,0,0,1,13,0,0,2,3,3,0,1,4,0,0,0
4,0,0,0,14,0,0,2,3,2,0,4,2,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22761,1,1,0,16,0,0,0,3,3,0,2,1,0,0,0
22762,0,1,0,16,0,0,0,1,3,2,1,3,0,0,0
22763,0,0,1,15,0,7,2,1,3,0,3,2,0,0,0
22764,0,1,0,16,0,0,3,2,3,0,2,2,0,1,0
22765,0,1,1,16,1,0,0,4,2,1,1,0,0,0,0